<p style="text-align: center;">Currently our reservation system for rooms is disabled due to technical problems.
If you wish to make a reservation please contact us at the contact numbers or our email</p>
<p style="text-align: center;"><a href="https://api.whatsapp.com/send?phone=410794003700&amp;text=I%27m%20Interested%20in%20information%20about%20Plattas%20Hotel%20-%20Restaurant"><img class="alignnone wp-image-394997" src="https://www.plattas.ch/wp-content/uploads/2019/08/whatsapp-150x150.jpg" alt="" width="50" height="50" /></a>     <a href="mailto:info@plattas.ch"><img class="alignnone wp-image-395047" src="https://www.plattas.ch/wp-content/uploads/2019/08/email-150x150.png" alt="" width="50" height="50" /></a>      <a href="http://maps.google.com/?q=1200%20hotel%20plattas,%20bugliac,%20cazis,%207424"><img class="alignnone wp-image-395018" src="https://www.plattas.ch/wp-content/uploads/2019/08/googlemaps-150x150.png" alt="" width="50" height="50" /></a>   <a href="tel:+410815430765"><img class="alignnone wp-image-395006" src="https://www.plattas.ch/wp-content/uploads/2019/08/llamada-150x150.png" alt="" width="50" height="50" /></a></p>
<p style="text-align: left;"><strong>Schedules:                                                                                                                                    </strong> <a href="https://www.plattas.ch/menu-restaurant">Restaurant Menu</a></p>
Opening Hour 11:00 - 21:00
Monday - Sunday
Wednesday closed

&nbsp;
