<!--##########################################Descripcion Doble Room 6################################################################-->
<div class="thim-list-in-room"> <!--comentario-->
  <h4>Room Amenities</h4> <!--<ul-->
  <li>Private bathroom</li>
  <li>Free Wifi</li>
  <li>Hot/Cold Shower Bath</li>
  <li>Writing Desk Chair</li>
  <li>Terrace</li>
  <li>Cable TV</li>
</div>

<p>
  <b class="thim-color-title">Bed : 1 double bed</b>
  <br>
  <b class="thim-color-title">Occupancy : 2 adult </b>
  <br>
  <b class="thim-color-title">Location : 2st floor</b>
  <br>
  <b class="thim-color-title">Size : Approximately 24 m²</b>
  <br>
  <b class="thim-color-title">Bathroom : Shower bath</b>
</p>

<p style="text-align: center;">
  <!--whatsapp button-->
  <a href="https://api.whatsapp.com/send?phone=410794003700&amp;text=I%27m%20Interested%20in%20information%20about%20Plattas%20Hotel%20-%20Restaurant"><img class="alignnone wp-image-394997" src="https://www.plattas.ch/wp-content/uploads/2019/08/whatsapp-150x150.jpg" alt="" width="50" height="50" /></a>
<!--email button-->
  <a href="mailto:info@plattas.ch"><img class="alignnone wp-image-395047" src="https://www.plattas.ch/wp-content/uploads/2019/08/email-150x150.png" alt="" width="50" height="50" /></a>
<!--googlemaps Button-->
  <a href="http://maps.google.com/?q=1200%20hotel%20plattas,%20bugliac,%20cazis,%207424"><img class="alignnone wp-image-395018" src="https://www.plattas.ch/wp-content/uploads/2019/08/googlemaps-150x150.png" alt="" width="50" height="50" /></a>
<!--call button-->
  <a href="tel:+410815430765"><img class="alignnone wp-image-395006" src="https://www.plattas.ch/wp-content/uploads/2019/08/llamada-150x150.png" alt="" width="50" height="50" /></a></p>

<h2 style="text-align: center;">Hotel Plattas is pleased to offer our great Doble Room 6.</h2>
The Double Room 6, it seems that no matter that the size is not one of the largest rooms of our hotel, also manages to surprise our visitors, with its Swiss-style atmosphere, without missing wood in decorations and accessories, probably one of our rooms closer to the main door of the hotel, also has a great terrace where sunbathing with a good coffee is usually daily for our customers. Above all the view is usually one of the things that do not overlook, due to the wonderful location of Hotel Plattas, from any of our angles you will always have a great view and breeze full of natural air to get fully in touch with the nature.

Above all, our cozy standard rooms will definitely excite you by quickly returning to a well deserved rest after a long day of shopping and adventure in the mountains.

No doubt Hotel Plattas is characterized by having a quiet and familiar atmosphere, in the same way without leaving aside the adventure and the variety of tourist places to spend fun moments and great entertainment, probably an ideal point for excursions and accommodation skiers in the winter season.

Around the Heinzenberg castle children can experience something!

Probably not everyone knows where Präz is, but there will undoubtedly be lots of fun and adventure for families. The adventure hiking trail in Heinzenberg invites children and adults on a day trip to the world of Tilla and his friends.

even more.!

The road offers a shared and unforgettable experience, also consciously taking time for others and experiencing nature as something unique.

finally the trail is open from April to November, depending on the weather.

<h3 style="text-align: center;">More information in</h3>
<a href="https://tilla-praez.ch/erlebniswanderweg.html">All information about Tilla</a>

<br>
<!--########################sector widget de carrousel pista y tilla weg###########################-->
<hr>
<h1 style="text-align:center;">Espacio para Widget de carrousel</h1>
<h2 style="text-align: center;"><a href="http://plattas.ch/ski-lifts">Heinzerberg ski slope</a></h2>
<img class="wp-image-135121 aligncenter" src="https://www.plattas.ch/wp-content/uploads/2019/07/sarn-heinzenberg-ski-plattas-hotel.jpg" alt="heinzenberg ski piste around to plattas hotel " width="799" height="532" />

<br>

<br>

Another important starting point and entertainment that we can not forget to mention, is the Heinzerberg ski area. Located on Thusis consists of two facilities that open in two sections, consequently to look at the map of the trail, the innumerable variants of descent will immediately call attention.

No doubt skiing in the Heinzenberg is something that reminds you of surfing when you glide carelessly over the innumerable hills as well as offer you an unforgettable view while descending at full speed down the mountain.

Finally.!

It should be noted that the first station is located on the chairlift, on the 1300 to 1700 meters above sea level on a slope exposed to the sun. While you manage to position yourself for the second scale of the track that takes you to the final top, in the same way you can start your descent from the middle station, without doubt it is one of the most beautiful tracks in the area and cheaper.

Do not forget to come in the winter season, it's definitely worth enjoying the scenery and you'll probably come back
<br>
<h3 style="text-align:center;"><strong>more information here.!</strong></h3>

<br>

If you come hungry, we can have food ready for your arrival for you. You just have to reserve a table or go to the page of our <a href="http://plattas.ch/restaurant">restaurant</a> to see our menu and details of our <a href="https://www.plattas.ch/menu-restaurant/">pizzas</a> and schedules.

<a href="http://plattas.ch/restaurant">Plattas Restaurant</a>

<hr>
