<!--Descripciones de habitaciones en formato html-->
<!--agregar este codigo en los campos de texto en codigo para tener un mejor funcionamiento-->

<!--Johnkegd Developer-->
<!--Formato general de botones y menu de Amenites Habitaciones-->

<!--Botones de Contacto-->


<p style="text-align: center;">
  <!--whatsapp button-->
  <a href="https://api.whatsapp.com/send?phone=410794003700&amp;text=I%27m%20Interested%20in%20information%20about%20Plattas%20Hotel%20-%20Restaurant"><img class="alignnone wp-image-394997" src="https://www.plattas.ch/wp-content/uploads/2019/08/whatsapp-150x150.jpg" alt="" width="50" height="50" /></a>
<!--email button-->
  <a href="mailto:info@plattas.ch"><img class="alignnone wp-image-395047" src="https://www.plattas.ch/wp-content/uploads/2019/08/email-150x150.png" alt="" width="50" height="50" /></a>
<!--googlemaps Button-->
  <a href="http://maps.google.com/?q=1200%20hotel%20plattas,%20bugliac,%20cazis,%207424"><img class="alignnone wp-image-395018" src="https://www.plattas.ch/wp-content/uploads/2019/08/googlemaps-150x150.png" alt="" width="50" height="50" /></a>
<!--call button-->
  <a href="tel:+410815430765"><img class="alignnone wp-image-395006" src="https://www.plattas.ch/wp-content/uploads/2019/08/llamada-150x150.png" alt="" width="50" height="50" /></a></p>


<!--Cuadro de Elementos habitaciones-->
<div class="thim-list-in-room"> <!--comentario--><h4>Room Amenities</h4> <!--<ul--><li>Private bathroom</li><li>Free Wifi</li><li>Hot/Cold Shower Bath</li><li>Writing Desk Chair</li><li>Cable TV</li></div>


<!--cuadro Elementos paralelos-->
<p><b class="thim-color-title">Bed : 1 double bed</b><br><b class="thim-color-title">Occupancy : 2 adult </b><br><b class="thim-color-title">Location : 2st floor</b><br><b class="thim-color-title">Size : Approximately 24 m²</b><br><b class="thim-color-title">Bathroom : Shower bath</b></p>

<hr>
<!--  #############################################Descripcion Family Room 1##########################################################-->
<div class="thim-list-in-room"> <!--comentario-->
  <h4>Room Amenities</h4> <!--<ul-->
  <li>Private bathroom</li>
  <li>Free Wifi</li>
  <li>Hot/Cold Shower Bath</li>
  <li>Writing Desk Chair</li>
  <li>Dinning Room</li>
  <li>Kitchen</li>
  <li>Fridge</li>
  <li>Wood Burning Fireplace</li>
  <li>Terrace</li>
  <li>Cable TV</li>
</div>

<p>
  <b class="thim-color-title">Bed : 1 double bed, 2 individual bed</b>
  <br>
  <b class="thim-color-title">Occupancy : 6 adult </b>
  <br>
  <b class="thim-color-title">Location : 3st floor</b>
  <br>
  <b class="thim-color-title">Size : Approximately 38 m²</b>
  <br>
  <b class="thim-color-title">Bathroom : Shower bath</b>
</p>

<h2 style="text-align: center;">Hotel Plattas is pleased to offer our great Family Room 1.</h2>
This is one of our most spacious rooms, with capacity for 6 modifiable adults according to the needs of our guests. We offer you a warm space, thanks to its fireplace and kitchen, also places to share a meal before going out to ski or ride a bike.

Besides the room has a small terrace that is still special due to the great view of the mountains and the village of Thusis-Switzerland, and the space is designed for more than one room serve as an apartment, perfect for spending the winter season and enjoy the ski slope of Heinzerberg.

Our cozy standard rooms will definitely excite you by quickly returning to a well-deserved rest after a long day of shopping and adventure in the mountains

Hotel Plattas is characterized by having a quiet and familiar atmosphere, without leaving aside the adventure and the variety of tourist places to spend fun moments and a great entertainment, we are an ideal point for the departure of excursions and accommodation of skiers in the season of winter.

Around the Heinzenberg castle children can experience something!

If everyone knows where Präz is, it is questionable, but surely there will be lots of fun and adventure for families. The adventure hiking trail in Heinzenberg invites children and adults on a day trip to the world of Tilla and his friends.

The path offers a shared and unforgettable experience, consciously taking time for others and experiencing nature as something unique.

The trail is open from April to November, depending on the weather.

More information in
<a href="https://tilla-praez.ch/erlebniswanderweg.html">All information about Tilla</a>

<br>

<h2 style="text-align: center;"><a href="http://plattas.ch/ski-lifts">Heinzerberg ski slope</a></h2>
<img class="wp-image-135121 aligncenter" src="https://www.plattas.ch/wp-content/uploads/2019/07/sarn-heinzenberg-ski-plattas-hotel.jpg" alt="heinzenberg ski piste around to plattas hotel " width="799" height="532" />

<br>

<br>

If you come hungry, we can have food ready for your arrival for you. You just have to reserve a table or go to the page of our <a href="http://plattas.ch/restaurant">restaurant</a> to see our menu and details of our <a href="https://www.plattas.ch/menu-restaurant/">pizzas</a> and schedules.

<a href="http://plattas.ch/restaurant">Plattas Restaurant</a>

<hr>
<!--  #############################################Descripcion Special Room 2##########################################################-->

<div class="thim-list-in-room"> <!--comentario-->
  <h4>Room Amenities</h4> <!--<ul-->
  <li>Private bathroom</li>
  <li>Free Wifi</li>
  <li>Hot/Cold Shower Bath</li>
  <li>Writing Desk Chair</li>
  <li>Fridge</li>
  <li>Kitchen</li>
  <li>Cable TV</li>
</div>

<p>
  <b class="thim-color-title">Bed : 1 double bed, 1 individual children bed</b>
  <br>
  <b class="thim-color-title">Occupancy : 2 adult, 1 children </b>
  <br>
  <b class="thim-color-title">Location : 2st floor</b>
  <br>
  <b class="thim-color-title">Size : Approximately 35 m²</b>
  <br>
  <b class="thim-color-title">Bathroom : Shower bath</b>
</p>

<h2 style="text-align: center;">Hotel Plattas is pleased to offer our great Special Room 2.</h2>
<span class="tlid-translation translation" lang="en" tabindex="-1"><span class="" title="">This room type apartament has its special touch because it has its own kitchen with refrigerator and mini dining room. offering a separate space with private bathroom and a mini superior room with a bedroom for children, all windows have a view of our secondary terraceand and with a front row view </span></span>of the mountains of Beberin, the village of Thusis and the town of Präz -Switzerland

Our cozy standard rooms will definitely excite you by quickly returning to a well-deserved rest after a long day of shopping and adventure in the mountains

Hotel Plattas is characterized by having a quiet and familiar atmosphere, without leaving aside the adventure and the variety of tourist places to spend fun moments and a great entertainment, we are an ideal point for the departure of excursions and accommodation of skiers in the season of winter.

Around the Heinzenberg castle children can experience something!

If everyone knows where Präz is, it is questionable, but surely there will be lots of fun and adventure for families. The adventure hiking trail in Heinzenberg invites children and adults on a day trip to the world of Tilla and his friends.

The path offers a shared and unforgettable experience, consciously taking time for others and experiencing nature as something unique.

The trail is open from April to November, depending on the weather.

More information in
<a href="https://tilla-praez.ch/erlebniswanderweg.html">All information about Tilla</a>

<br>


<h2 style="text-align: center;"><a href="http://plattas.ch/ski-lifts">Heinzerberg ski slope</a></h2>
<img class="wp-image-135121 aligncenter" src="https://www.plattas.ch/wp-content/uploads/2019/07/sarn-heinzenberg-ski-plattas-hotel.jpg" alt="heinzenberg ski piste around to plattas hotel " width="799" height="532" />

<br>

<br>

If you come hungry, we can have food ready for your arrival for you. You just have to reserve a table or go to the page of our <a href="http://plattas.ch/restaurant">restaurant</a> to see our menu and details of our <a href="https://www.plattas.ch/menu-restaurant/">pizzas</a> and schedules.

<a href="http://plattas.ch/restaurant">Plattas Restaurant</a>

<hr>
<!--  #############################################Descripcion Double Room 3##########################################################-->

<div class="thim-list-in-room"> <!--comentario-->
  <h4>Room Amenities</h4> <!--<ul-->
  <li>Private bathroom</li>
  <li>Free Wifi</li>
  <li>Hot/Cold Shower Bath</li>
  <li>Writing Desk Chair</li>
  <li>Cable TV</li>
</div>

<p>
  <b class="thim-color-title">Bed : 1 double bed, (Special capacity of 1 extra bed, additional cost)</b>
  <br>
  <b class="thim-color-title">Occupancy : 2 adult </b>
  <br>
  <b class="thim-color-title">Location : 3st floor</b>
  <br>
  <b class="thim-color-title">Size : Approximately 28 m²</b>
  <br>
  <b class="thim-color-title">Bathroom : Shower bath</b>
</p>

<h2 style="text-align: center;">Hotel Plattas is pleased to offer our great Doble Room 2.</h2>
<span class="tlid-translation translation" lang="en" tabindex="-1"><span title="">We prepare this room for you, on our third floor.</span> <span class="" title="">with a red carpet floor, and a window that allows to see with clarity the majestic  </span></span>of the mountains and the village of Thusis-Switzerland, <span class="tlid-translation translation" lang="en" tabindex="-1"><span class="" title="">The Double 2 room differs from the others by having the bathroom extended out of it, but with a bath tub and greater amplitude.</span> <span title="">what makes up for not having an indoor bathroom.</span></span>

Our cozy standard rooms will definitely excite you by quickly returning to a well-deserved rest after a long day of shopping and adventure in the mountains

Hotel Plattas is characterized by having a quiet and familiar atmosphere, without leaving aside the adventure and the variety of tourist places to spend fun moments and a great entertainment, we are an ideal point for the departure of excursions and accommodation of skiers in the season of winter.

Around the Heinzenberg castle children can experience something!

If everyone knows where Präz is, it is questionable, but surely there will be lots of fun and adventure for families. The adventure hiking trail in Heinzenberg invites children and adults on a day trip to the world of Tilla and his friends.

The path offers a shared and unforgettable experience, consciously taking time for others and experiencing nature as something unique.

The trail is open from April to November, depending on the weather.

More information in
<a href="https://tilla-praez.ch/erlebniswanderweg.html">All information about Tilla</a>

<br>

<h2 style="text-align: center;"><a href="http://plattas.ch/ski-lifts">Heinzerberg ski slope</a></h2>
<img class="wp-image-135121 aligncenter" src="https://www.plattas.ch/wp-content/uploads/2019/07/sarn-heinzenberg-ski-plattas-hotel.jpg" alt="heinzenberg ski piste around to plattas hotel " width="799" height="532" />

<br>

<br>

If you come hungry, we can have food ready for your arrival for you. You just have to reserve a table or go to the page of our <a href="http://plattas.ch/restaurant">restaurant</a> to see our menu and details of our <a href="https://www.plattas.ch/menu-restaurant/">pizzas</a> and schedules.

<a href="http://plattas.ch/restaurant">Plattas Restaurant</a>

<hr>
<!--  #############################################Descripcion Family Room 8##########################################################-->

<div class="thim-list-in-room"> <!--comentario-->
  <h4>Room Amenities</h4> <!--<ul-->
  <li>Private bathroom</li>
  <li>Free Wifi</li>
  <li>Hot/Cold Shower Bath</li>
  <li>Writing Desk Chair</li>
  <li>Terrace</li>
  <li>Cable TV</li>
</div>

<p>
  <b class="thim-color-title">Bed : 1 double bed, 2 individual bed</b>
  <br>
  <b class="thim-color-title">Occupancy : 4 adult </b>
  <br>
  <b class="thim-color-title">Location : 2st floor</b>
  <br>
  <b class="thim-color-title">Size : Approximately 28 m²</b>
  <br>
  <b class="thim-color-title">Bathroom : Shower bath</b>
</p>

<h2 style="text-align: center;">Hotel Plattas is pleased to offer our great Family Room 8.</h2>
A room with lots of natural light, and a quite familiar aspect, our Family 8 room Surprising when entering, due to its simplicity but originality in its details, with its private mini-terrace opens the possibility of breathing and admiring the pure nature that they offer the mountains and the 1500 meters of height in which Hotel &amp; Restaurant is located.

Hotel Plattas is characterized by having a quiet and familiar atmosphere, without leaving aside the adventure and the variety of tourist places to spend fun moments and a great entertainment, we are an ideal point for the departure of excursions and accommodation of skiers in the season of winter.

If everyone knows where Präz is, it is questionable, but surely there will be lots of fun and adventure for families. The adventure hiking trail in Heinzenberg invites children and adults on a day trip to the world of Tilla and his friends.

More information in
<a href="https://tilla-praez.ch/erlebniswanderweg.html">All information about Tilla</a>

<br>


<h2 style="text-align: center;"><a href="http://plattas.ch/ski-lifts">Heinzerberg ski slope</a></h2>
<img class="wp-image-135121 aligncenter" src="https://www.plattas.ch/wp-content/uploads/2019/07/sarn-heinzenberg-ski-plattas-hotel.jpg" alt="heinzenberg ski piste around to plattas hotel " width="799" height="532" />

<br>

<br>

If you come hungry, we can have food ready for your arrival for you. You just have to reserve a table or go to the page of our <a href="http://plattas.ch/restaurant">restaurant</a> to see our menu and details of our <a href="https://www.plattas.ch/menu-restaurant/">pizzas</a> and schedules.

<a href="http://plattas.ch/restaurant">Plattas Restaurant</a>

<hr>
<!--##########################################Descripcion Family Room 9################################################################-->

<div class="thim-list-in-room"> <!--comentario-->
  <h4>Room Amenities</h4> <!--<ul-->
  <li>Private bathroom</li>
  <li>Free Wifi</li>
  <li>Hot/Cold Shower Bath</li>
  <li>Writing Desk Chair</li>
  <li>Terrace</li>
  <li>Cable TV</li>
</div>

<p>
  <b class="thim-color-title">Bed : 1 double bed, 2 individual bed</b>
  <br>
  <b class="thim-color-title">Occupancy : 4 adult </b>
  <br>
  <b class="thim-color-title">Location : 2st floor</b>
  <br>
  <b class="thim-color-title">Size : Approximately 31 m²</b>
  <br>
  <b class="thim-color-title">Bathroom : Shower bath</b>
</p>

<h2 style="text-align: center;">Hotel Plattas is pleased to offer our great Family Room 9.</h2>
First we present the Family Room 9, a room with capacity for 4 people with a comfortable double bed and two individual bed, also has a nice terrace that allows a lot of light to enter the room, it should be noted that it offers a great view of the largest mountain in the region of Thusis.

Above all, our cozy standard rooms will definitely excite you by quickly returning to a well deserved rest after a long day of shopping and adventure in the mountains.

No doubt Hotel Plattas is characterized by having a quiet and familiar atmosphere, in the same way without leaving aside the adventure and the variety of tourist places to spend fun moments and great entertainment, probably an ideal point for excursions and accommodation skiers in the winter season.

Around the Heinzenberg castle children can experience something!

Probably not everyone knows where Präz is, but there will undoubtedly be lots of fun and adventure for families. The adventure hiking trail in Heinzenberg invites children and adults on a day trip to the world of Tilla and his friends.

even more.!

The road offers a shared and unforgettable experience, also consciously taking time for others and experiencing nature as something unique.

finally the trail is open from April to November, depending on the weather.

More information in
<a href="https://tilla-praez.ch/erlebniswanderweg.html">All information about Tilla</a>

<br>


<h2 style="text-align: center;"><a href="http://plattas.ch/ski-lifts">Heinzerberg ski slope</a></h2>
<img class="wp-image-135121 aligncenter" src="https://www.plattas.ch/wp-content/uploads/2019/07/sarn-heinzenberg-ski-plattas-hotel.jpg" alt="heinzenberg ski piste around to plattas hotel " width="799" height="532" />

Another important starting point and entertainment that we can not forget to mention, is the Heinzerberg ski area. Located on Thusis consists of two facilities that open in two sections, consequently to look at the map of the trail, the innumerable variants of descent will immediately call attention.

No doubt skiing in the Heinzenberg is something that reminds you of surfing when you glide carelessly over the innumerable hills as well as offer you an unforgettable view while descending at full speed down the mountain.

Finally.!

It should be noted that the first station is located on the chairlift, on the 1300 to 1700 meters above sea level on a slope exposed to the sun. While you manage to position yourself for the second scale of the track that takes you to the final top, in the same way you can start your descent from the middle station, without doubt it is one of the most beautiful tracks in the area and cheaper.

Do not forget to come in the winter season, it's definitely worth enjoying the scenery and you'll probably come back

<strong>more information here.!</strong>

<br>

If you come hungry, we can have food ready for your arrival for you. You just have to reserve a table or go to the page of our <a href="http://plattas.ch/restaurant">restaurant</a> to see our menu and details of our <a href="https://www.plattas.ch/menu-restaurant/">pizzas</a> and schedules.

<a href="http://plattas.ch/restaurant">Plattas Restaurant</a>

<hr>
<!--##########################################Descripcion Family Room 10################################################################-->
<div class="thim-list-in-room"> <!--comentario-->
  <h4>Room Amenities</h4> <!--<ul-->
  <li>Private bathroom</li>
  <li>Free Wifi</li>
  <li>Hot/Cold Shower Bath</li>
  <li>Writing Desk Chair</li>
  <li>Cable TV</li>
</div>

<p>
  <b class="thim-color-title">Bed : 1 double bed, 2 individual bed</b>
  <br>
  <b class="thim-color-title">Occupancy : 4 adult </b>
  <br>
  <b class="thim-color-title">Location : 2st floor</b>
  <br>
  <b class="thim-color-title">Size : Approximately 29 m²</b>
  <br>
  <b class="thim-color-title">Bathroom : Shower bath</b>
</p>

<h2 style="text-align: center;">Hotel Plattas is pleased to offer our great Doble Room 10.</h2>
The Doble Room 10, a room with capacity for 4 people with a comfortable double bed and a individual bed, probably one of the simplest and most basic rooms, with a more office focus, besides being one of the quietest rooms, it allows you to enjoy a pleasant rest.

Above all, our cozy standard rooms will definitely excite you by quickly returning to a well deserved rest after a long day of shopping and adventure in the mountains.

No doubt Hotel Plattas is characterized by having a quiet and familiar atmosphere, in the same way without leaving aside the adventure and the variety of tourist places to spend fun moments and great entertainment, probably an ideal point for excursions and accommodation skiers in the winter season.

Around the Heinzenberg castle children can experience something!

Probably not everyone knows where Präz is, but there will undoubtedly be lots of fun and adventure for families. The adventure hiking trail in Heinzenberg invites children and adults on a day trip to the world of Tilla and his friends.

even more.!

The road offers a shared and unforgettable experience, also consciously taking time for others and experiencing nature as something unique.

finally the trail is open from April to November, depending on the weather.

More information in
<a href="https://tilla-praez.ch/erlebniswanderweg.html">All information about Tilla</a>

<br>


<h2 style="text-align: center;"><a href="http://plattas.ch/ski-lifts">Heinzerberg ski slope</a></h2>
<img class="wp-image-135121 aligncenter" src="https://www.plattas.ch/wp-content/uploads/2019/07/sarn-heinzenberg-ski-plattas-hotel.jpg" alt="heinzenberg ski piste around to plattas hotel " width="799" height="532" />

Another important starting point and entertainment that we can not forget to mention, is the Heinzerberg ski area. Located on Thusis consists of two facilities that open in two sections, consequently to look at the map of the trail, the innumerable variants of descent will immediately call attention.

No doubt skiing in the Heinzenberg is something that reminds you of surfing when you glide carelessly over the innumerable hills as well as offer you an unforgettable view while descending at full speed down the mountain.

Finally.!

It should be noted that the first station is located on the chairlift, on the 1300 to 1700 meters above sea level on a slope exposed to the sun. While you manage to position yourself for the second scale of the track that takes you to the final top, in the same way you can start your descent from the middle station, without doubt it is one of the most beautiful tracks in the area and cheaper.

Do not forget to come in the winter season, it's definitely worth enjoying the scenery and you'll probably come back

<strong>more information here.!</strong>

<br>

If you come hungry, we can have food ready for your arrival for you. You just have to reserve a table or go to the page of our <a href="http://plattas.ch/restaurant">restaurant</a> to see our menu and details of our <a href="https://www.plattas.ch/menu-restaurant/">pizzas</a> and schedules.

<a href="http://plattas.ch/restaurant">Plattas Restaurant</a>

<hr>
<!--##########################################Descripcion Doble Room 6################################################################-->
<div class="thim-list-in-room"> <!--comentario-->
  <h4>Room Amenities</h4> <!--<ul-->
  <li>Private bathroom</li>
  <li>Free Wifi</li>
  <li>Hot/Cold Shower Bath</li>
  <li>Writing Desk Chair</li>
  <li>Terrace</li>
  <li>Cable TV</li>
</div>

<p>
  <b class="thim-color-title">Bed : 1 double bed</b>
  <br>
  <b class="thim-color-title">Occupancy : 2 adult </b>
  <br>
  <b class="thim-color-title">Location : 2st floor</b>
  <br>
  <b class="thim-color-title">Size : Approximately 24 m²</b>
  <br>
  <b class="thim-color-title">Bathroom : Shower bath</b>
</p>

<h2 style="text-align: center;">Hotel Plattas is pleased to offer our great Doble Room 6.</h2>
The Double Room 6, it seems that no matter that the size is not one of the largest rooms of our hotel, also manages to surprise our visitors, with its Swiss-style atmosphere, without missing wood in decorations and accessories, probably one of our rooms closer to the main door of the hotel, also has a great terrace where sunbathing with a good coffee is usually daily for our customers. Above all the view is usually one of the things that do not overlook, due to the wonderful location of Hotel Plattas, from any of our angles you will always have a great view and breeze full of natural air to get fully in touch with the nature.

Above all, our cozy standard rooms will definitely excite you by quickly returning to a well deserved rest after a long day of shopping and adventure in the mountains.

No doubt Hotel Plattas is characterized by having a quiet and familiar atmosphere, in the same way without leaving aside the adventure and the variety of tourist places to spend fun moments and great entertainment, probably an ideal point for excursions and accommodation skiers in the winter season.

Around the Heinzenberg castle children can experience something!

Probably not everyone knows where Präz is, but there will undoubtedly be lots of fun and adventure for families. The adventure hiking trail in Heinzenberg invites children and adults on a day trip to the world of Tilla and his friends.

even more.!

The road offers a shared and unforgettable experience, also consciously taking time for others and experiencing nature as something unique.

finally the trail is open from April to November, depending on the weather.

More information in
<a href="https://tilla-praez.ch/erlebniswanderweg.html">All information about Tilla</a>

<br>


<h2 style="text-align: center;"><a href="http://plattas.ch/ski-lifts">Heinzerberg ski slope</a></h2>
<img class="wp-image-135121 aligncenter" src="https://www.plattas.ch/wp-content/uploads/2019/07/sarn-heinzenberg-ski-plattas-hotel.jpg" alt="heinzenberg ski piste around to plattas hotel " width="799" height="532" />

Another important starting point and entertainment that we can not forget to mention, is the Heinzerberg ski area. Located on Thusis consists of two facilities that open in two sections, consequently to look at the map of the trail, the innumerable variants of descent will immediately call attention.

No doubt skiing in the Heinzenberg is something that reminds you of surfing when you glide carelessly over the innumerable hills as well as offer you an unforgettable view while descending at full speed down the mountain.

Finally.!

It should be noted that the first station is located on the chairlift, on the 1300 to 1700 meters above sea level on a slope exposed to the sun. While you manage to position yourself for the second scale of the track that takes you to the final top, in the same way you can start your descent from the middle station, without doubt it is one of the most beautiful tracks in the area and cheaper.

Do not forget to come in the winter season, it's definitely worth enjoying the scenery and you'll probably come back

<strong>more information here.!</strong>

<br>

If you come hungry, we can have food ready for your arrival for you. You just have to reserve a table or go to the page of our <a href="http://plattas.ch/restaurant">restaurant</a> to see our menu and details of our <a href="https://www.plattas.ch/menu-restaurant/">pizzas</a> and schedules.

<a href="http://plattas.ch/restaurant">Plattas Restaurant</a>

<hr>
<!--##########################################Descripcion Double room 7################################################################-->
<div class="thim-list-in-room"> <!--comentario-->
  <h4>Room Amenities</h4> <!--<ul-->
  <li>Private bathroom</li>
  <li>Free Wifi</li>
  <li>Hot/Cold Shower Bath</li>
  <li>Writing Desk Chair</li>
  <li>Cable TV</li>
</div>

<p>
  <b class="thim-color-title">Bed : 1 double bed</b>
  <br>
  <b class="thim-color-title">Occupancy : 2 adult </b>
  <br>
  <b class="thim-color-title">Location : 2st floor</b>
  <br>
  <b class="thim-color-title">Size : Approximately 24 m²</b>
  <br>
  <b class="thim-color-title">Bathroom : Shower bath</b>
</p>

<h2 style="text-align: center;">Hotel Plattas is pleased to offer our great Doble Room 7.</h2>
The Double Room 7, of course, could not miss in our catalog of rooms our double room 7, with a capacity for 2 adults and a double bed, and a window in front with a view of the mountains that does not go unnoticed, it is also a room Easy to access, both the parking lot and the breakfast and restaurant area. It should be noted that this room is perfect for couples.

Above all, our cozy standard rooms will definitely excite you by quickly returning to a well deserved rest after a long day of shopping and adventure in the mountains.

No doubt Hotel Plattas is characterized by having a quiet and familiar atmosphere, in the same way without leaving aside the adventure and the variety of tourist places to spend fun moments and great entertainment, probably an ideal point for excursions and accommodation skiers in the winter season.

Around the Heinzenberg castle children can experience something!

Probably not everyone knows where Präz is, but there will undoubtedly be lots of fun and adventure for families. The adventure hiking trail in Heinzenberg invites children and adults on a day trip to the world of Tilla and his friends.

even more.!

The road offers a shared and unforgettable experience, also consciously taking time for others and experiencing nature as something unique.

finally the trail is open from April to November, depending on the weather.

More information in
<a href="https://tilla-praez.ch/erlebniswanderweg.html">All information about Tilla</a>

<br>


<h2 style="text-align: center;"><a href="http://plattas.ch/ski-lifts">Heinzerberg ski slope</a></h2>
<img class="wp-image-135121 aligncenter" src="https://www.plattas.ch/wp-content/uploads/2019/07/sarn-heinzenberg-ski-plattas-hotel.jpg" alt="heinzenberg ski piste around to plattas hotel " width="799" height="532" />

Another important starting point and entertainment that we can not forget to mention, is the Heinzerberg ski area. Located on Thusis consists of two facilities that open in two sections, consequently to look at the map of the trail, the innumerable variants of descent will immediately call attention.

No doubt skiing in the Heinzenberg is something that reminds you of surfing when you glide carelessly over the innumerable hills as well as offer you an unforgettable view while descending at full speed down the mountain.

Finally.!

It should be noted that the first station is located on the chairlift, on the 1300 to 1700 meters above sea level on a slope exposed to the sun. While you manage to position yourself for the second scale of the track that takes you to the final top, in the same way you can start your descent from the middle station, without doubt it is one of the most beautiful tracks in the area and cheaper.

Do not forget to come in the winter season, it's definitely worth enjoying the scenery and you'll probably come back

<strong>more information here.!</strong>

<br>

If you come hungry, we can have food ready for your arrival for you. You just have to reserve a table or go to the page of our <a href="http://plattas.ch/restaurant">restaurant</a> to see our menu and details of our <a href="https://www.plattas.ch/menu-restaurant/">pizzas</a> and schedules.

<a href="http://plattas.ch/restaurant">Plattas Restaurant</a>

<hr>
<!--##########################################Descripcion Guesthouse room 1################################################################-->
<div class="thim-list-in-room"> <!--comentario-->
  <h4>Room Amenities</h4> <!--<ul-->
  <li>Private bathroom</li>
  <li>Free Wifi</li>
  <li>Hot/Cold Shower Bath</li>
  <li>Writing Desk Chair</li>
  <li>Cable TV</li>
</div>

<p>
  <b class="thim-color-title">Bed : 1 double bed</b>
  <br>
  <b class="thim-color-title">Occupancy : 2 adult </b>
  <br>
  <b class="thim-color-title">Location : 2st floor</b>
  <br>
  <b class="thim-color-title">Size : Approximately 37 m²</b>
  <br>
  <b class="thim-color-title">Bathroom : Shower bath</b>
</p>

<h2 style="text-align: center;">Hotel Plattas is pleased to offer our great Guest house Room 1.</h2>
The Guesthouse  room 1, is an extension of our hotel plattas, usually used as support in high demand season of our hotel, but it is still a cozy space and great comfort in the same way you can request directly through our page a Reservation for these rooms for a lower price, because they have shared bathrooms and is located 350 meters from the hotel plattas.

Above all, our cozy standard rooms will definitely excite you by quickly returning to a well deserved rest after a long day of shopping and adventure in the mountains.

No doubt Hotel Plattas is characterized by having a quiet and familiar atmosphere, in the same way without leaving aside the adventure and the variety of tourist places to spend fun moments and great entertainment, probably an ideal point for excursions and accommodation skiers in the winter season.

Around the Heinzenberg castle children can experience something!

Probably not everyone knows where Präz is, but there will undoubtedly be lots of fun and adventure for families. The adventure hiking trail in Heinzenberg invites children and adults on a day trip to the world of Tilla and his friends.

even more.!

The road offers a shared and unforgettable experience, also consciously taking time for others and experiencing nature as something unique.

finally the trail is open from April to November, depending on the weather.

More information in
<a href="https://tilla-praez.ch/erlebniswanderweg.html">All information about Tilla</a>

<br>


<h2 style="text-align: center;"><a href="http://plattas.ch/ski-lifts">Heinzerberg ski slope</a></h2>
<img class="wp-image-135121 aligncenter" src="https://www.plattas.ch/wp-content/uploads/2019/07/sarn-heinzenberg-ski-plattas-hotel.jpg" alt="heinzenberg ski piste around to plattas hotel " width="799" height="532" />

Another important starting point and entertainment that we can not forget to mention, is the Heinzerberg ski area. Located on Thusis consists of two facilities that open in two sections, consequently to look at the map of the trail, the innumerable variants of descent will immediately call attention.

No doubt skiing in the Heinzenberg is something that reminds you of surfing when you glide carelessly over the innumerable hills as well as offer you an unforgettable view while descending at full speed down the mountain.

Finally.!

It should be noted that the first station is located on the chairlift, on the 1300 to 1700 meters above sea level on a slope exposed to the sun. While you manage to position yourself for the second scale of the track that takes you to the final top, in the same way you can start your descent from the middle station, without doubt it is one of the most beautiful tracks in the area and cheaper.

Do not forget to come in the winter season, it's definitely worth enjoying the scenery and you'll probably come back

<strong>more information here.!</strong>

<br>

If you come hungry, we can have food ready for your arrival for you. You just have to reserve a table or go to the page of our <a href="http://plattas.ch/restaurant">restaurant</a> to see our menu and details of our <a href="https://www.plattas.ch/menu-restaurant/">pizzas</a> and schedules.

<a href="http://plattas.ch/restaurant">Plattas Restaurant</a>

<hr>
<!--##########################################Guesthouse room 2################################################################-->
<div class="thim-list-in-room"> <!--comentario-->
  <h4>Room Amenities</h4> <!--<ul-->
  <li>Private bathroom</li>
  <li>Free Wifi</li>
  <li>Hot/Cold Shower Bath</li>
  <li>Writing Desk Chair</li>
  <li>Cable TV</li>
</div>

<p>
  <b class="thim-color-title">Bed : 1 double bed</b>
  <br>
  <b class="thim-color-title">Occupancy : 2 adult </b>
  <br>
  <b class="thim-color-title">Location : 2st floor</b>
  <br>
  <b class="thim-color-title">Size : Approximately 27 m²</b>
  <br>
  <b class="thim-color-title">Bathroom : Shower bath</b>
</p>

<h2 style="text-align: center;">Hotel Plattas is pleased to offer our great Guest house Room 2.</h2>
The Guesthouse room 2, is an extension of our hotel plattas, usually used as support in high demand season of our hotel, but it is still a cozy space and great comfort in the same way you can request directly through our page a Reservation for these rooms for a lower price, because they have shared bathrooms and is located 350 meters from the hotel plattas.

Above all, our cozy standard rooms will definitely excite you by quickly returning to a well deserved rest after a long day of shopping and adventure in the mountains.

No doubt Hotel Plattas is characterized by having a quiet and familiar atmosphere, in the same way without leaving aside the adventure and the variety of tourist places to spend fun moments and great entertainment, probably an ideal point for excursions and accommodation skiers in the winter season.

Around the Heinzenberg castle children can experience something!

Probably not everyone knows where Präz is, but there will undoubtedly be lots of fun and adventure for families. The adventure hiking trail in Heinzenberg invites children and adults on a day trip to the world of Tilla and his friends.

even more.!

The road offers a shared and unforgettable experience, also consciously taking time for others and experiencing nature as something unique.

finally the trail is open from April to November, depending on the weather.

More information in
<a href="https://tilla-praez.ch/erlebniswanderweg.html">All information about Tilla</a>

<br>


<h2 style="text-align: center;"><a href="http://plattas.ch/ski-lifts">Heinzerberg ski slope</a></h2>
<img class="wp-image-135121 aligncenter" src="https://www.plattas.ch/wp-content/uploads/2019/07/sarn-heinzenberg-ski-plattas-hotel.jpg" alt="heinzenberg ski piste around to plattas hotel " width="799" height="532" />

Another important starting point and entertainment that we can not forget to mention, is the Heinzerberg ski area. Located on Thusis consists of two facilities that open in two sections, consequently to look at the map of the trail, the innumerable variants of descent will immediately call attention.

No doubt skiing in the Heinzenberg is something that reminds you of surfing when you glide carelessly over the innumerable hills as well as offer you an unforgettable view while descending at full speed down the mountain.

Finally.!

It should be noted that the first station is located on the chairlift, on the 1300 to 1700 meters above sea level on a slope exposed to the sun. While you manage to position yourself for the second scale of the track that takes you to the final top, in the same way you can start your descent from the middle station, without doubt it is one of the most beautiful tracks in the area and cheaper.

Do not forget to come in the winter season, it's definitely worth enjoying the scenery and you'll probably come back

<strong>more information here.!</strong>

<br>

If you come hungry, we can have food ready for your arrival for you. You just have to reserve a table or go to the page of our <a href="http://plattas.ch/restaurant">restaurant</a> to see our menu and details of our <a href="https://www.plattas.ch/menu-restaurant/">pizzas</a> and schedules.

<a href="http://plattas.ch/restaurant">Plattas Restaurant</a>


<hr>
